
@{
    ViewData["Title"] = "About Me";
}
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Me</h2>
                <p>After working for over a decade as a materials engineer in industrial environments, I felt capped in my career progression and wanted to make a change. I was drawn to the tech industry and felt passionate about its nature to continuously evolve. For this reason, I pursued training to take a new path and drive my career toward a higher ceiling. </p>
            </div>

            <div class="container my-4 carousel-about">
                <div id="carouselAbout" class="carousel slide" data-bs-ride="carousel" data-bs-interval="20000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselAbout" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#carouselAbout" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselAbout" data-bs-slide-to="2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row mx-2 justify-content-around">
                                <div class="col-lg-3 carousel-image">
                                    <img src="~/assets/img/Kyle.jpg" alt="Photo Myself">
                                </div>
                                <div class="col-lg-8 mx-2 content">
                                    <h3>Full Stack Web Developer</h3>

                                    <p>
                                        My entire life I've been working to learn new skills and knowledge to improve my life as well as others. I actively seek out education and collaborate to innovate new solutions.
                                        <br>
                                        I'm excited to turn my career into the web development industry to show and prove my developing skillset to be a valued team member.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-2 justify-content-around">
                                <div class="col-lg-3 carousel-image">
                                    <img src="~/assets/img/royals.JPG" alt="Kauffman Stadium">
                                </div>
                                <div class="col-lg-8 mx-2 content">
                                    <h3>Background</h3>

                                    <p>
                                        Born and raised outside of Denver, CO, I went to college at Colorado School of Mines. After graduation, I moved down to Beaumont, TX to work as a Materials Engineer for DuPont.
                                        <br>
                                        I wanted to move away from the bayou (fancy word for swamp) and be closer to home, moving up to Kansas City. I truly feel at home here with my family.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mx-2 justify-content-around">
                                <div class="col-lg-3 carousel-image">
                                    <img src="~/assets/img/Chunk.jpg" alt="Chunk">
                                </div>
                                <div class="col-lg-8 mx-2 content">
                                    <h3>Hobbies</h3>

                                    <p>
                                        I enjoy running, playing sports (mainly sand volleyball currently), going to baseball games, watching TV/Movies, learning new things, and most importantly, spending time with my best friend Chunk.
                                        <br>
                                        <br>
                                        One of my bucket list items is to go to to every MLB statium. 18 down, 12 to go!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="col-sm-1 carousel-control-prev carouselControl" type="button" data-bs-target="#carouselAbout" data-bs-slide="prev">
                        <!-- Instead of the default arrow for a Bootstrap carousel, we add in custom arrows using Bootstrap icons. These arrows are more visible. We add the fs-1 class to make the font size larger using Bootstrap rules. -->
                        <i class="bi bi-arrow-left-circle-fill fs-1 align-content-end"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="col-sm-1 carousel-control-next carouselControl" type="button" data-bs-target="#carouselAbout" data-bs-slide="next">
                        <i class="bi bi-arrow-right-circle-fill fs-1"></i>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>



        </div>
    </section><!-- End About Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills pt-0">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>

            </div>

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            .NET Core MVC Framework
                        </p>
                    </div>

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            Full Stack Web Application Design
                        </p>
                    </div>

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            C# Fundamentals
                        </p>
                    </div>

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            JavaScript
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            Database Management
                        </p>
                    </div>

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            Unit Testing
                        </p>
                    </div>

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            Software Development Cycle
                        </p>
                    </div>

                    <div class="skill-item border border-3 m-2 text-center">
                        <p class="skill">
                            Agile Scrum Methodology
                        </p>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->



</main><!-- End #main -->