
@{
    ViewData["Title"] = "Classmates";
}

<main id="main">
    <!-- ======= Classmates Section ======= -->
    <section id="classmates" class="classmates">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Centriq Classmates</h2>
                <p>Below are links to my Centriq classmates personal sites and profiles</p>
            </div>

            <div class="row">
                <div class="col-lg-3 classmate" data-aos="zoom-in" data-aos-delay="100">

                    <div class="icon-box photo " style="background-image: url(/assets/img/ClassMates/Jace.png)"></div>

                    <h4><a href="http://jacecockrell.com/">Jace Cockrell</a></h4>
                </div>

                <div class="col-lg-3 classmate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box photo " style="background-image: url(/assets/img/ClassMates/andrew.jpg)"></div>
                    <h4><a href="http://andcroft.com/">Andrew Cocroft</a></h4>
                </div>

                <div class="col-lg-3 classmate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box photo"
                         style="background-image: url(/assets/img/ClassMates/NDavolt.jpg)"></div>
                    <h4><a href="http://www.nicholasdavolt.com/">Nicholas Davolt</a></h4>
                </div>

                <div class="col-lg-3 classmate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box photo" style="background-image: url(/assets/img/ClassMates/rob.jpg)"></div>

                    <h4><a href="http://www.ritterhaus.net/">Rob Ritter</a></h4>
                </div>

                <div class="col-lg-3 classmate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box photo" style="background-image: url(/assets/img/ClassMates/Devon.jpg)"></div>

                    <h4><a href="http://devschmidt.com/">Devon Schmidt</a></h4>
                </div>

                <div class="col-lg-3 classmate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box photo" style="background-image: url(/assets/img/ClassMates/Cody.jpg)"></div>

                    <h4><a href="http://www.codyslivinski.com/">Cody Silvinski</a></h4>
                </div>

                <div class="col-lg-3 classmate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box photo" style="background-image: url(/assets/img/ClassMates/darron.jpg)"></div>

                    <h4><a href="http://www.werntzdomain.com/">Darron Werntz</a></h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Classmates Section -->
</main>
<!-- End #main -->