
@{
    ViewData["Title"] = "Portfolio";
}
<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Below are some of projects that I've worked on</p>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/dungeon.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Avian Dungeon Game</h4>

                            <div class="portfolio-links">

                                <a href="https://github.com/kylegough3/DungeonApp" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/comingsoon.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>StoreFront Database</h4>

                            <div class="portfolio-links">

                                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/comingsoon.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web API</h4>

                            <div class="portfolio-links">

                                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/comingsoon.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>ToDo App</h4>

                            <div class="portfolio-links">

                                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->