
@{
    ViewData["Title"] = "Portfolio";
}
<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Below are some of projects that I've worked on</p>
            </div>

            <div class="row portfolio-container justify-content-center" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/dungeon.jpg" class="img-fluid" alt="Dungeon">
                        <div class="portfolio-info">
                            <h4>Avian Dungeon Game</h4>
                            
                            <div class="portfolio-links">

                                <a href="https://github.com/kylegough3/DungeonApp" target="_blank">A dungeon crawler game fighting various birds</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/StoreFront.jpg" class="img-fluid" alt="StoreFront">
                        <div class="portfolio-info">
                            <h4>StoreFront Database</h4>
                            
                            <div class="portfolio-links">

                                <a href="https://github.com/kylegough3/StoreFront" target="_blank" title="Portfolio Details">Baseball Themed Store with SQL CRUD Functionality</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/hurricane.jpg" class="img-fluid" alt="Web API">
                        <div class="portfolio-info">
                            <h4>Web API</h4>
                            <p></p>
                            <div class="portfolio-links">

                                <a href="https://github.com/kylegough3/ToDoAPI" target="_blank" title="Portfolio Details">To Do List API for emergency preparedness kit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/house.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>ToDo Disaster Preparation App</h4>

                            <div class="portfolio-links">

                                <a href="http://todo.goughkyle.com/" target="_blank" title="Portfolio Details">Checklist app</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/console.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Team Programming - Admin App</h4>

                            <div class="portfolio-links">

                                <a href="https://github.com/kylegough3/DVPRO-KG" target="_blank"  title="Portfolio Details">Administration App for Atomic Synergistics</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/comingsoon.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Kyle's Miles</h4>

                            <div class="portfolio-links">

                                <a href="/"  title="Portfolio Details">Annual Running Competition</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->